/* 
 styling goes here
*/
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
body {
    text-align: center;
    font-family: 'Press Start 2P',Arial, Helvetica, sans-serif;
    color: red;
}

input {
    font-family: 'Press Start 2P';
    width: 190px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    position: relative;
    border: 3px solid red;
    display: block;
    margin: 10px auto;
    
}

.wrong {
    animation: flash 0.4s 2;
}

@keyframes flash {
    from {
        border-color: white;
    }
    to {
        border-color: red;
    }
}

.decimal {
    margin: 10px;
    font-size: 50px;
}